.root {
    position: relative;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px, 20px;
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
}

.search {
    position: absolute;
    width: 16px;
    height: 16px;
    opacity: 0.5;
    left: 4px;
    top: 4px;
}

.delete {
    position: absolute;
    width: 16px;
    height: 17px;
    opacity: 0.5;
    left: 180px;
    top: 3px;
    &:hover{
        opacity: 0.8;
    }
}